h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(236, 255, 63);
    }
    p {
        color: rgb(11, 52, 163);
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 30px ;
        background-color: beige;

    }
    a { 
        background-color: orange;
        color:black;
        font-size: 40px;
        text-decoration: none;
        width: 200px;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    span { 
           color: brown;
           font-size: 70px;
    }